.login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 200px;
   
  }
  
  .login-form div {
    margin-bottom: 10px;
  }
  
  .login-form label {
    font-weight: bold;
  }
  
  .login-form input[type='email'],
  .login-form input[type='password'] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  